@import "../../styles/Globals.scss";
@import"../../styles//Variable.scss";
.container{
padding-bottom: 50px;

.title{
    border-bottom:2px solid $projectImportantButtonColor;
    padding-bottom: 15px;
    width:50%;
    text-align: center;
    margin: 35px auto;
    h2{
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.service{
    margin-top:50px;
    width: 100%;
    box-shadow: 0px 0px 9px -3px rgba(83, 84, 96, 0.3);
    height: auto;
    padding:15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
  
    &.reversed{
        flex-direction: row-reverse;
    }
    .photo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:30%;
        @media(max-width:900px){
        width: 100%;
        height: 150px;
        margin-bottom: 25px;
        }

    }
    .service-description{
        color:$smallTextColor;
        width:70%;
        text-align: left;
        padding: 0 25px;
        @media(max-width:900px){
            width: 100%;
            }
        p{
            text-align: justify;
        }


    }
}
}