@import "../../styles/Variable.scss";
@import "../../styles/Globals.scss";

.header {
    .container {
      display: flex;
      height: 92px;
      display: flex;
      align-items: center;
      .logo {
        flex: 1;
        color: $projectImportantButtonColor;
        font-weight: bold;
        
      }
      .menu-wrapper {
        flex: 3;
        height: 100%;
  
        .menu-list {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100%;
          a{
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            &::after{
              content: "";
              width: 0;
              height: 2px;
              background-color: $projectImportantButtonColor;
              position: absolute;
              bottom: 0;
              left: 50%;
              transition: .2s;
            }
            &::before{
              content: "";
              width: 0;
              height: 2px;
              background-color: $projectImportantButtonColor;
              position: absolute;
              bottom: 0;
              right:50%;
              transition: .2s; 
            }
            &:hover{
              .menu-item{
                color: $projectImportantButtonColor;
              }
              &::after{
                width: 50%;
                left: 0;
              }
              &::before{
                width: 50%;
                right: 0;
              }
            }
            .menu-item{
              color: $headersTextColor;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-size: 1.4rem;
              width: 100%;
              text-align: center;
             border-left: 1px solid $menuLinkColor;
            }
            &:active{
              color: $projectImportantButtonColor;
            }

          }
          
        }
      }
    }
  }