$projectMainFont: "Raleway", sans-serif;
$headersTextColor: #013145;
$bodyTextColor: #000000;
$smallTextColor: #636363;
$smallTextLighterColor: #666666;
$projectImportantButtonColor: #e4052e;
$headersOnBackgroundTextColor: #ffffff;
$menuBackgroudColor: #222222;
$menuLinkColor: #cccccc;
$headersFontSize: 60px;
$subHeaderFontSize: 24px;
