@import "../../styles/Variable.scss";
@import "../../styles/Globals.scss";
.welcome-page-intro{
    .services-wrapper{
        margin-top: 50px;
        .services-row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}


