@import "../../styles/Variable.scss";
@import "../../styles/Globals.scss";

.overmenu {
    background-color: #fbfbfb;
    margin: 0;
  
    .container {
      display: flex;
      justify-content: flex-end;
      height: 38px;
      .item {
        color: $smallTextLighterColor;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        &.phone{
            margin-right:25px;
            @media(max-width:360px){
              margin-right:10px
            }
        }
        .icon{
            margin-right: 8px;
            @media(max-width:360px){
              margin-right:4px
            } 
        }
      }
      @media (max-width: 720px) {
        justify-content: center;
      }
  
      
    }
  }
